@import './variable.scss';

#app {
  height: 100%;
}

/***** 布局容器 *****/
.layout-container {
  display: flex;
  min-height: 100vh;



  /***** 侧边栏 sidebar *****/
  .layout-sidebar {
    // width: $sidebar-width;
    .ant-layout-sider {
      height: 100%;
      box-shadow: 2px 0 6px rgba(0,21,41,.35);
    }
    .ant-menu {
      height: calc(100% - $header-height);
      padding: 5px 0;
    }
    .logo {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
      overflow: hidden;
      height: 64px;
      font-size: 20px;
      color: #fff;
      background: #002140;
      font-weight: bold;
      transition: all .2s;
      > .logo-icon {
        font-size: 1.8em;
        transition: all .6s ease;
      }
      > h1.logo-text {
        display: inline-block;
        padding: 0;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 0 16px;
      }
    }
    .logo-collapsed {
      > .logo-icon {
        font-size: 1.8em;
        transform: rotate(-180deg);
      }
      > h1.logo-text {
        display: none;
      }
    }
  }

  // 侧边栏固定时生效
  .layout-sidebar-fixed {
    height: 100%;
    position: fixed;
    z-index: 2;

    & + .layout-content {
      margin-left: $sidebar-width;
      transition: all .2s;
    }
  }

  // 侧边固定且收起时生效
  .sider-fixed-collapsed {
    & + .layout-content {
      margin-left: $sidebar-collapsed-width;
    }
  }

  /***** 主体内容 *****/
  .layout-content {
    flex: 1;
    background-color: #F5F7F9;

    /***** 头部 header *****/
    .layout-header {
      display: flex;
      height: 64px;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0,21,41,.08);

      .trigger {
        display: inline-flex;
        align-items: center;
        font-size: 18px;
        height: 100%;
        padding: 0 20px;
        cursor: pointer;

        &:hover {
          color: #1890ff;
          background: rgba(0,0,0,.025);
        }
      }
      // 面包屑导航
      > .header-bread {
        display: inline-flex;
        height: 100%;
        align-items: center;
        // padding: 0 20px;
      }
      // 头部操作列表
      > .header-menu {
        display: inline-flex;
        height: 100%;
        align-items: center;
        padding: 0 20px;
        > li.menu-item {
          display: inline-flex;
          align-items: center;
          height: 100%;
          user-select: none;
          padding: 0 10px;
          font-size: 16px;
          transition: background .5s;
          &:hover {
            cursor: pointer;
            background: #eee;
          }
        }
        .bell-icon {
          font-size: 16px;
          padding: 4px;
        }
        > li.user-info {
          .user-name {
            display: flex;
            justify-content: center;
            align-items: center;
            .user-pic {
              max-height: 30px;
              border-radius: 50%;
              margin-left: 10px;
            }
          }
        }
      }
    }

    // 头部固定时生效
    .layout-header-fixed {
      position: fixed;
      width: calc(100% - #{$sidebar-width});
      z-index: 1;
      transition: all .2s;

      & + .layout-main {
        margin-top: $header-height;
      }
    }
    // 头部固定且侧栏收起时生效
    .header-fixed-collapsed {
      position: fixed;
      width: calc(100% - #{$sidebar-collapsed-width});
    }

    /***** 主要内容 main  *****/
    .layout-main {
      padding: 24px;
      height: calc(100% - #{$header-height});
    }

  }

  /***** 抽屉 *****/
  .app-drawer {
    position: fixed;
    right: 0;
    top: 30%;
    background: #1890ff;
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 6px 0 6px 0;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 #aaa;
    z-index: 1001;
    transition: transform 0.3s cubic-bezier(0.9, 0, 0.3, 0.7);
  }
  .app-drawer-open {
    transform: translateX(-256px);
  }
}