// #app { height: 100%; }

#container {
  // height: 100%;

  .logo {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    height: 64px;
    font-size: 20px;
    color: #fff;
    background: #002140;
    font-weight: bold;
    > .logo-icon {
      font-size: 1.8em;
      transition: all .6s ease;
    }
    > h1.logo-text {
      display: inline-block;
      padding: 0;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      margin: 0 0 0 16px;
    }
  }

  .logo-collapsed {
    > .logo-icon {
      font-size: 1.8em;
      transform: rotate(-360deg);
    }
    > h1.logo-text {
      position: absolute;
      top: -100px;
    }
  }

  .header-wrap {
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;

    .trigger {
      font-size: 18px;
      padding: 0 24px 0 0;
      cursor: pointer;
    }

    .trigger:hover {
      color: #1890ff;
    }

    > .header-menu {
      display: inline-flex;
      > li.menu-item {
        user-select: none;
        padding: 0 10px;
        font-size: 16px;
        transition: background .5s;
        &:hover {
          cursor: pointer;
          background: #eee;
        }
      }
      .bell-icon {
        font-size: 16px;
        padding: 4px;
      }
      > li.user-info {
        .user-name {
          display: flex;
          justify-content: center;
          align-items: center;
          .user-pic {
            max-height: 30px;
            border-radius: 50%;
            margin-left: 10px;
          }
        }
      }
    }
  }
}